# sub-packages files for https://reuse.software (avoid duplication)
.reuse
LICENSES
LICENSE

# root files for https://reuse.software
!/.reuse
!/LICENSES
!LICENSE

package-lock.json
reports
**/node_modules
**/dist
**/out
**/*.vsix
**/coverage
tsconfig.tsbuildinfo
lerna-debug.log

/.idea


# macOS
.DS_Store

yarn-error.log