version: 2.1

jobs:
  compliance:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/workdir
    steps:
      - checkout
      - run:
          name: compliance check
          command: |
            pip3 install --user reuse
            ~/.local/bin/reuse lint

  ci-node12:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn
      - run: yarn ci

  ci-node14:
    docker:
      - image: circleci/node:14
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn ci
      - run: mkdir -p artifacts && cp packages/*/*.vsix ./artifacts
      - run:
          name: report_coverage
          command: cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
          environment:
            COVERALLS_SERVICE_NAME: circle-ci
            COVERALLS_GIT_BRANCH: ${CIRCLE_BRANCH}
      - run:
          name: Define environment variable with lastest commit's message
          command: |
            echo 'export COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Lint commit message
          command: echo "$COMMIT_MESSAGE" | npx commitlint
      - run:
          name: "Inspect Artifacts Folder"
          working_directory: ./artifacts
          command: ls -la
      # persist .vsix for publishing in the `deploy` step
      - persist_to_workspace:
          root: ./artifacts
          paths:
            # https://golang.org/pkg/path/filepath/#Match
            - app-studio-toolkit-*

  ci-node16:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: yarn
      - run: yarn ci

  deploy:
    docker:
      - image: circleci/golang:1.13
    steps:
      - attach_workspace:
          at: ./dest
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} ./dest/ 

workflows:
  version: 2
  test-deploy:
    jobs:
      - compliance
      - ci-node12
      - ci-node14:
          filters:
            tags:
              only: /.*/
      - ci-node16
      - deploy:
          requires:
            - ci-node14
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/