name: Continuous Integration
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  # See: https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012
  push:
    branches:
      - main*
  pull_request:
    branches:
      - main*
jobs:
  build:
    name: Full Build (node ${{ matrix.node_version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 12.x
          - 14.x
          - 16.x
    steps:
      # using `v1` because of: https://github.com/actions/checkout/issues/246
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.19.1

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run ci
